<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>497635632656-adefdi79oct0uu5h4tas0v67epg3jjdg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.497635632656-adefdi79oct0uu5h4tas0v67epg3jjdg</string>
	<key>API_KEY</key>
	<string>AIzaSyCLTiDGwCOrTKAk618UpLPiLUKM-yvOXLw</string>
	<key>GCM_SENDER_ID</key>
	<string>497635632656</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-app-b9db2</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-app-b9db2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:497635632656:ios:6752881a736be51ee2cc95</string>
</dict>
</plist>